# Variables and Operators

You can store information in _variables_, or typed names (case-sensitive letters, numbers, and underscores - can't lead with a number). There are different _types_ of variables depending on what kind of information you're storing.

You can _operate_ on variables, which allows you to use and change them. E.g. arithmetic operations.

### `int`

These are _integer_, or whole-numbered (in base 10), numerical values. For example, let's create a simple income statement:

In [1]:
profit = 100

In [2]:
revenue = 1000

In [3]:
cost = 900

Now, we can subtract `cost` from `revenue` to verify that our `profit` figure is correct:

In [4]:
revenue - cost

100

If we want to (maybe we want to daydream for a minute...), we can _square_ our revenue:

In [5]:
revenue ** 2

1000000

#### Problem

Create a new variable, named `profit_margin`, assign to it the _profit margin_ (which you'll have to calculate) from the simple income statement above.

In [6]:
profit_margin = profit / revenue

In [9]:
profit_margin

0.1

In [10]:
print(f"the profit margin is: {profit_margin}")

the profit margin is: 0.1

### `str`

These are made of one or more _symbols_ surrounded by either single or double quotes.

In [11]:
cat_name = "bill"

In [12]:
cat_name

'bill'

You can check to see if a certain charater is in a string:

In [13]:
"i" in cat_name

True

You can multiply a string to produce repititions of it:

In [14]:
cat_name * 2

'billbill'

You can also add two strings together:

In [15]:
"bill" + " and ted"

'bill and ted'

_Indexing_ is an important concept. An index is the position in a variable - in particular, a type of variable that holds other variables - at which a certain piece of information is stored. In Python, a `str` is one of these variable types that holds other variables: a `str` is a collection of characters.

One thing we can do with _indexing_ is to check to see what value is held at a certain position (or index) in a `str`:

In [16]:
cat_name[0]

'b'

In Python, we use _0-indexing_, which means that index 0 will correspond to the first item in a container. We can look at more than one index at a time:

In [17]:
cat_name[:2]

'bi'

Here we are looking for everything _up to but not including_ position 2. We can do some other things like this, too:

In [13]:
cat_name[2:]

'll'

In [14]:
cat_name[1:3]

'il'

In [15]:
cat_name[::-1]

'llib'

In [19]:
cat_name[::2]

'bl'

We can check to see the length of a `str` like this:

In [18]:
len(cat_name)

4

#### Problem

Create a new `str` variable that's at least 6 characters long. Check to see if the letter "e" is in it. Then produce characters 2 through 4 of this `str`.

In [20]:
new_cat_name = "jonathan"

In [21]:
len(new_cat_name)

8

In [22]:
"e" in new_cat_name

False

In [23]:
new_cat_name[2:5]

'nat'

Python has some nice, built-in functionality for manipulating `str` data. For example, you can change a `str` variable's casing:

In [24]:
cat_name.upper()

'BILL'

In [25]:
cat_name.upper().lower()

'bill'

In [26]:
cat_name.capitalize()

'Bill'

Sometimes, you might want to do something more complicated, especially if you have a longer `str`:

In [27]:
full_cat_name = "Bill Jones Jr."

You can search for a particular character:

In [28]:
full_cat_name.find("J")

5

In [29]:
full_cat_name[5]

'J'

You can also replace certain characters:

In [30]:
full_cat_name.replace(" ", "_")

'Bill_Jones_Jr.'

#### Problem

Take the string `"Hi, my name is Rachel."`, and perform the following actions on it:
- save it into a variable
- lowercase it
- remove the punctuation
- replace spaces with underscores

In [31]:
str_var = "Hi, my name is Rachel."

In [32]:
str_var.lower()

'hi, my name is rachel.'

In [33]:
str_var = str_var.lower()

In [35]:
str_var = str_var.replace(".", "").replace(",", "")

In [36]:
str_var = str_var.replace(",", "")

In [37]:
str_var = str_var.replace(" ", "_")

In [38]:
str_var

'hi_my_name_is_rachel'

### `float`

A float is a _decimal_ number:

If you multiply an `int` by a `float`, the result will be a `float`:

In [39]:
profit * .372

37.2

In [24]:
new_profit = profit * .372

You can use `/` to divide:

In [25]:
new_profit / 2

18.6

And `//` to produce division results that are rounded down to the nearest whole number:

In [26]:
new_profit // 2

18.0

#### Problem

Calculate a new `profit` (call it, `newer_profit`) based on our `cost` being reduced by 75%, and round down to the nearest whole number.

`profit` = `revenue` - `cost`

In [40]:
new_cost = .25 * cost

In [41]:
new_profit = revenue - new_cost

In [42]:
new_profit

775.0

In [43]:
round(new_profit)

775

In [44]:
new_profit // 1

775.0

In [45]:
25.2 // 1

25.0

### `bool`

Booleans are variables of value `True` or `False`. These are the results of _equivalence_ operations:

In [46]:
revenue - cost == profit

True

`==` means that you are checking for equality. A single `=` means that you are assigning a value to a variable name. You can also check to see whether some quantities are _not_ equal:

In [47]:
revenue != profit

True

And, you can check whether some things are bigger, smaller, etc.:

In [48]:
revenue > profit

True

In [49]:
revenue >= profit < cost

True

You can perfom other basic logical checks as well:

In [50]:
b = True

In [51]:
b and False

False

In [52]:
b or False

True

#### Problem

Take the variable `full_cat_name` and save a copy into `full_cat_name_copy`. Remove punctation and spaces. Then divide its length by 2.75 and check whether this value is less than 5.

In [53]:
full_cat_name_copy = full_cat_name

In [54]:
full_cat_name_copy

'Bill Jones Jr.'

In [55]:
full_cat_name_copy = full_cat_name_copy.replace(".", "").replace(" ", "")

In [59]:
num = len(full_cat_name_copy) / 2.75

In [60]:
num < 5

True

In [62]:
(len(full_cat_name_copy) / 2.75) < 5

True

# Iterables

Python has many _data structures_ available to allow you to store, access, and modify one or more variables. 

These are referred to as _iterables_, which refers to the fact that a data structure built for storing multiple variables has to be able to iterate (or walk through) through them. 

As noted above, a `str` is an iterable, but there are many others. Let's look at a couple.

### `list`

Lists are very useful, _mutable_ data structures, which means you can change them. They preserve the order in which items are added to them, which is a very useful feature. 

You can create a `list` by putting square brakets - `[]` - around the items that you'd like to have in you `list`, and by separating those items with commas.

In [63]:
data_list = [revenue, cost, profit]

In [64]:
data_list

[1000, 900, 100]

We can also create a new `list` by starting with empty square brackets and then adding items after:

In [65]:
data_list = []

One of the quickest and easiest ways to add to a `list` is by using the `append` function, which adds items to the end of the list:

In [66]:
data_list.append(revenue)

In [67]:
data_list.append(cost)

In [68]:
data_list.append(profit)

In [69]:
data_list

[1000, 900, 100]

You can _index_ into a `list` just like you would with a `str`. We can use _negative_ indices to start from the end:

In [70]:
data_list[-1]

100

You can change items in the list. For example, let's say we wanted to update our profit figure from `100` to `200`:

In [71]:
data_list[-1] = 200

In [72]:
data_list

[1000, 900, 200]

#### Problem

Create a list, `better_data_list`, which holds the following variables:
- `better_revenue`, which equals 1100
- `better_cost`, which equals 850
- `better_profit`, which equals `better_revenue` - `better_cost`

Ouput the results in reverse order. Then, check to see whether `better_profit` is greater than `profit`.

In [73]:
better_revenue =1100

In [74]:
better_cost =  850

In [75]:
better_profit = better_revenue - better_cost

In [76]:
better_data_list = [better_revenue, better_cost, better_profit]

In [77]:
better_data_list[::-1]

[250, 850, 1100]

In [78]:
better_profit > profit

True

To iterate through the items of an iterable, you can write a _loop_:

In [79]:
for item in data_list:
    print(item)

1000
900
200

The above is called a `for` loop. It works as follows:

    for temp_variable in iterable_thing:
        do things to temp_variable
        assign next item in iterable_thing to temp_variable
        and back to top of loop
        unless you're out of items, at which point, exit

Note that in Python you nest logic using _whitespace_ - i.e. tabs or spaces (whichever you pick, be consistent! also note that spaces are better...), and you use a colon (`:`) to let the system know that you're _about to_ indent code. 

Above, we've used the `print` function, which is handy for outputting results or other information.

You can atually build a list through iteration, which is a very common thing to do:

In [80]:
new_list = []

for item in data_list:
    new_list.append(item)

new_list

[1000, 900, 200]

#### Problem

Build a new list, `better_data_list`, which should hold each item from `data_list`, except that each item should be multiplied by 1.25 before it's included into `better_data_list`. Output the last item from `better_data_list`.

In [81]:
better_data_list = []

In [82]:
for item in data_list:
    better_data_list.append(1.25 * item)

In [84]:
better_data_list[-1]

250.0

In [85]:
better_data_list[-1] == 1.25 * data_list[-1]

True

### `dict`

A dictionary stores _key: value_ pairs, so they're kinda like lists, except you get to give each value in them a name, and you look these values up by using their names and not there indices. Note that dictionaries do not preserve ordering. Like lists, dictionaries are mutable.

In [86]:
data_dict = {"revenue": revenue, "cost": cost, "profit": profit}

In [87]:
data_dict

{'revenue': 1000, 'cost': 900, 'profit': 100}

Here's how you look up a value in a `dict` by using its key:

In [88]:
data_dict["revenue"]

1000

You can check to see whether a key already exists in a `dict`:

In [89]:
"tax" in data_dict

False

And here's how you'd add a new _key: value_ pair to a `dict`:

In [90]:
data_dict["tax"] = 33

In [91]:
data_dict

{'revenue': 1000, 'cost': 900, 'profit': 100, 'tax': 33}

You can store lots of things as values in a `dict`, including a `list`:

In [93]:
new_dict = {"2017": data_list}

In [94]:
new_dict

{'2017': [1000, 900, 200]}

You can iterate through a `dict` in a variety of ways, but the primary way is to use the `items()` function, which produces _key, value_ pairs:

In [92]:
for k, v in data_dict.items():
    print(k, v)

revenue 1000
cost 900
profit 100
tax 33

#### Problem

Iterate through the 2017 income figures, and print out whether each figure is greater than 500.

In [ ]:
for k, v in new_dict.items():
    if k == "2017":
        pass
# this methodology to be discussed later

In [96]:
figures_2017 = new_dict["2017"]

In [98]:
for item in figures_2017:
    print(item > 500)

True
True
False

### `range`

Let's say you want a _range_ of numbers to be able to iterate through - there's a built-in function called `range` that'll do just that! If you tell it where to end, it'll start from 0 and yield numbers _up to_ that value:

In [99]:
for num in range(5):
    print(num)

0
1
2
3
4

You can also tell `range` where to start:

In [100]:
for num in range(2, 5):
    print(num)

2
3
4

And you can even tell it how to _step_:

In [101]:
for num in range(0, 20, 5):
    print(num)

0
5
10
15

#### Problem

Create a `list` of all the numbers from 0 up to _and including_ 1000, iterating by 100.

In [102]:
newer_list = []

In [103]:
for num in range(0, 1100, 100):
    newer_list.append(num)

In [104]:
newer_list

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [105]:
newer_list = list(range(0, 1100, 100))

In [106]:
newer_list

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

# Flow Control

Often times, in any real program, you want to do more than just assign variables and operate on those variables - you want your program to _flow_, and you want to _control_ that flow. Loops are an example of flow control. So are _conditional expressions_.

### `if`

In [107]:
if cost > 100:
    print(cost)

900

In [108]:
if cost > 1000:
    print(cost)

See .. we're only printing `cost` _if_ it meets the condition we specify - this is a very useful construct!

#### Problem

Print `revenue` from `data_dict`, but only if `data_dict` has a key for `revenue`.

In [109]:
if "revenue" in data_dict:
    print(data_dict["revenue"])

1000

What if we want to have a backup for the above? I.e. we want to fall back on something else if we don't have `revenue` in our `data_dict`?

### `if`-`else`

In [110]:
if "revenue_2017" in data_dict:
    print(data_dict["revenue"])
else:
    print("no revenue!")

no revenue!

This is known as an `if-else` statement: it will evaluate the condition specified after `if` and perform the operations below it if `True`. Otherwise, it will perform the operations listed below `else`.

One operator we haven't talked about yet is the _modulo_ operator, `%`. You could think of this as the _remainder_ operator, i.e. you divide one number by another, and only keep the remainder:

In [61]:
5 % 4

1

We see this often in the real world when we think about time:

In [111]:
(7 + 8) % 12

3

#### Problem

We want to look in `data_dict` and see if there's a value for `tax`, but we only want to print it out _if_ this value is _even_, and if it's _odd_ (i.e. _not_ even), we want to print `"tax value is odd."`

In [114]:
if "tax" in data_dict:
    if data_dict["tax"] % 2 == 0:
        print(data_dict["tax"])
    else:
        print("tax value is odd")

tax value is odd

### `if`-`elif`-`else`

You can use `if-elif-else` statements to add more conditions to your logic.

In [115]:
cost

900

In [116]:
if cost > 900:
    print("yes")
    
elif cost < 900:
    print("no")

else:
    print("what?")

what?

First, you'll check the `if` condition, and if that's `True` you'll perform its operations and then break free. But if the `if` condition evaluates to `False`, you'll go to `elif` (short for _else if_), and follow a similar procedure. But, if the `elif` is not `True` either, you will, no matter what, move on to `else`.

### `for` loops with conditional logic

You can also intermix loops with conditional logic.

In [117]:
l = []

In [118]:
for char in cat_name:
    if char == 'b':
        l.append(char)
    else:
        print(char)

i
l
l

In [119]:
cat_name

'bill'

In [120]:
l

['b']

#### Problem

Check to see if there's data for 2016 in `new_dict`. If so, print it out. If not, check to see if there's data for 2018, and print that out if it's there. If all else fails, iterate through `data_list` and print each of its values out.

# Functions

Functions allow you to store the procedures you have created for later use. You define a new function by using the `def` keyword:

In [121]:
def hello():
    print("hello")

In [122]:
hello()

hello

You need the parentheses to indicate that this is not just a typical variable. For functions that take _arguments_, you will pass these arguments through the parentheses:

In [123]:
def hello(name):
    print("hello:", name)

In [125]:
hello("sarah")

hello: sarah

Some funtions _return_ data, which means they give it back to you, so that you can use it for other things:

In [126]:
def hello(x):
    return x

In [127]:
x = hello(4)

In [128]:
x

4

#### Problem

Write a function, `is_even`, which takes as argument a number, and returns `True` if that number's even and `False` if that number's odd.

In [129]:
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [130]:
is_even(4)

True

In [131]:
is_even(5)

False

In [133]:
def is_even(num):
    return num % 2 == 0

In [134]:
is_even(4)

True

In [135]:
is_even(5)

False

You can mix functions and flow control:

In [76]:
def square(num):
    return num * num

In [77]:
square(4)

16

In [78]:
data_list

[1000, 900, 2000]

In [79]:
for num in data_list:
    print(square(num))

1000000
810000
4000000

### Problem

We've got a group of 100 people we're trying to divide up for a training exercise. Each person has a unique number between 0 and 99. Our goal is to obtain a `dict` with 3 groups in it, labeled as such:
- `"group 1"`
- `"group 2"`
- `"group 3"`

Each group label should be the _key_ to a _value_ that is a `list` of all the numbers that belong to that group.

`"group 1"` should include people who's numbers are divisible by 5. `"group 2"` should include everyone who's numbers are divisible 21. `"group 3"` should include everyone else.